@charset "utf-8"; /*颜色设置，关于颜色以外的CSS属性严禁使用*/
@font-face{
  font-family:'elficons';
  src:url('[dataDir]icons/elficons.eot?v=[v]');
  src:url('[dataDir]icons/elficons.eot?v=[v]') format('embedded-opentype'),
  url('[dataDir]icons/elficons.woff2?v=[v]') format('woff2'),
  url('[dataDir]icons/elficons.woff?v=[v]') format('woff'),
  url('[dataDir]icons/elficons.ttf?v=[v]') format('truetype'),
  url('[dataDir]icons/elficons.svg?v=[v]') format('svg');
  font-weight:normal;
  font-style:normal;
}
i[class^="icon"]{ font-family:elficons; font-style:normal; vertical-align:middle; display:inline-block; font-weight:100; }
i.iconGlass:after{ content:"\F000"; }
i.iconMusic:after{ content:"\F001"; }
i.iconSearch:after{ content:"\F002"; }
i.iconEnvelope:after{ content:"\F003"; }
i.iconHeart:after{ content:"\F004"; }
i.iconStar:after{ content:"\F005"; }
i.iconStarEmpty:after{ content:"\F006"; }
i.iconUser:after{ content:"\F007"; }
i.iconFilm:after{ content:"\F008"; }
i.iconThLarge:after{ content:"\F009"; }
i.iconTh:after{ content:"\F00A"; }
i.iconThList:after{ content:"\F00B"; }
i.iconOk:after{ content:"\F00C"; }
i.iconRemove:after{ content:"\F00D"; }
i.iconZoomLn:after{ content:"\F00E"; }
i.iconZoomOut:after{ content:"\F010"; }
i.iconOff:after{ content:"\F011"; }
i.iconSignal:after{ content:"\F012"; }
i.iconCog:after{ content:"\F013"; }
i.iconTrash:after{ content:"\F014"; }
i.iconHome:after{ content:"\F015"; }
i.iconFileAlt:after{ content:"\F016"; }
i.iconTime:after{ content:"\F017"; }
i.iconRoad:after{ content:"\F018"; }
i.iconDownloadAlt:after{ content:"\F019"; }
i.iconDownload:after{ content:"\F01A"; }
i.iconUpload:after{ content:"\F01B"; }
i.iconInbox:after{ content:"\F01C"; }
i.iconPlayCircle:after{ content:"\F01D"; }
i.iconRepeat:after{ content:"\F01E"; }
i.iconRefresh:after{ content:"\F021"; }
i.iconListAlt:after{ content:"\F022"; }
i.iconLock:after{ content:"\F023"; }
i.iconFlag:after{ content:"\F024"; }
i.iconHeadphones:after{ content:"\F025"; }
i.iconVolumeOff:after{ content:"\F026"; }
i.iconVolumeDown:after{ content:"\F027"; }
i.iconVolumeUp:after{ content:"\F028"; }
i.iconQrcode:after{ content:"\F029"; }
i.iconBarcode:after{ content:"\F02A"; }
i.iconTag:after{ content:"\F02B"; }
i.iconTags:after{ content:"\F02C"; }
i.iconBook:after{ content:"\F02D"; }
i.iconBookmark:after{ content:"\F02E"; }
i.iconPrint:after{ content:"\F02F"; }
i.iconCamera:after{ content:"\F030"; }
i.iconFont:after{ content:"\F031"; }
i.iconBold:after{ content:"\F032"; }
i.iconItalic:after{ content:"\F033"; }
i.iconTextHeight:after{ content:"\F034"; }
i.iconTextWidth:after{ content:"\F035"; }
i.iconAlignLeft:after{ content:"\F036"; }
i.iconAlignCenter:after{ content:"\F037"; }
i.iconAlignRight:after{ content:"\F038"; }
i.iconAlignJustify:after{ content:"\F039"; }
i.iconList:after{ content:"\F03A"; }
i.iconIndentLeft:after{ content:"\F03B"; }
i.iconIndentRight:after{ content:"\F03C"; }
i.iconFacetimeVideo:after{ content:"\F03D"; }
i.iconPicture:after{ content:"\F03E"; }
i.iconPencil:after{ content:"\F040"; }
i.iconMapMarker:after{ content:"\F041"; }
i.iconAdjust:after{ content:"\F042"; }
i.iconTint:after{ content:"\F043"; }
i.iconEdit:after{ content:"\F044"; }
i.iconShare:after{ content:"\F045"; }
i.iconCheck:after{ content:"\F046"; }
i.iconMove:after{ content:"\F047"; }
i.iconStepBackward:after{ content:"\F048"; }
i.iconFastBackward:after{ content:"\F049"; }
i.iconBackward:after{ content:"\F04A"; }
i.iconPlay:after{ content:"\F04B"; }
i.iconPause:after{ content:"\F04C"; }
i.iconStop:after{ content:"\F04D"; }
i.iconForward:after{ content:"\F04E"; }
i.iconFastForward:after{ content:"\F050"; }
i.iconStepForward:after{ content:"\F051"; }
i.iconEject:after{ content:"\F052"; }
i.iconChevronLeft:after{ content:"\F053"; }
i.iconChevronRight:after{ content:"\F054"; }
i.iconAddSign:after{ content:"\F055"; }
i.iconMinusSign:after{ content:"\F056"; }
i.iconRemoveSign:after{ content:"\F057"; }
i.iconOkSign:after{ content:"\F058"; }
i.iconQuestionSign:after{ content:"\F059"; }
i.iconInfoSign:after{ content:"\F05A"; }
i.iconScreenshot:after{ content:"\F05B"; }
i.iconRemoveCircle:after{ content:"\F05C"; }
i.iconOkCircle:after{ content:"\F05D"; }
i.iconBanCircle:after{ content:"\F05E"; }
i.iconArrowLeft:after{ content:"\F060"; }
i.iconArrowRight:after{ content:"\F061"; }
i.iconArrowUp:after{ content:"\F062"; }
i.iconArrowDown:after{ content:"\F063"; }
i.iconShareAlt:after{ content:"\F064"; }
i.iconResizeFull:after{ content:"\F065"; }
i.iconResizeSmall:after{ content:"\F066"; }
i.iconPlus:after{ content:"\F067"; }
i.iconMinus:after{ content:"\F068"; }
i.iconAsterisk:after{ content:"\F069"; }
i.iconExclamationSign:after{ content:"\F06A"; }
i.iconGift:after{ content:"\F06B"; }
i.iconLeaf:after{ content:"\F06C"; }
i.iconFire:after{ content:"\F06D"; }
i.iconEyeOpen:after{ content:"\F06E"; }
i.iconEyeClose:after{ content:"\F070"; }
i.iconWarningSign:after{ content:"\F071"; }
i.iconPlane:after{ content:"\F072"; }
i.iconCalendar:after{ content:"\F073"; }
i.iconRandom:after{ content:"\F074"; }
i.iconComment:after{ content:"\F075"; }
i.iconMagnet:after{ content:"\F076"; }
i.iconChevronUp:after{ content:"\F077"; }
i.iconChevronDown:after{ content:"\F078"; }
i.iconRetweet:after{ content:"\F079"; }
i.iconShoppingCart:after{ content:"\F07A"; }
i.iconFolderClose:after{ content:"\F07B"; }
i.iconFolderOpen:after{ content:"\F07C"; }
i.iconResizeVertical:after{ content:"\F07D"; }
i.iconResizeHorizontal:after{ content:"\F07E"; }
i.iconBarChart:after{ content:"\F080"; }
i.iconTwitterSign:after{ content:"\F081"; }
i.iconFacebookSign:after{ content:"\F082"; }
i.iconCameraRetro:after{ content:"\F083"; }
i.iconKey:after{ content:"\F084"; }
i.iconCogs:after{ content:"\F085"; }
i.iconComments:after{ content:"\F086"; }
i.iconThumbsUpAlt:after{ content:"\F087"; }
i.iconThumbDownAlt:after{ content:"\F088"; }
i.iconStarHalf:after{ content:"\F089"; }
i.iconHeartEmpty:after{ content:"\F08A"; }
i.iconSignout:after{ content:"\F08B"; }
i.iconLinkedinSign:after{ content:"\F08C"; }
i.iconPushpin:after{ content:"\F08D"; }
i.iconExternalLink:after{ content:"\F08E"; }
i.iconSignin:after{ content:"\F090"; }
i.iconTrophy:after{ content:"\F091"; }
i.iconGithubSign:after{ content:"\F092"; }
i.iconUploadAlt:after{ content:"\F093"; }
i.iconLemon:after{ content:"\F094"; }
i.iconPhone:after{ content:"\F095"; }
i.iconCheckEmpty:after{ content:"\F096"; }
i.iconBookmarkEmpty:after{ content:"\F097"; }
i.iconPhoneSign:after{ content:"\F098"; }
i.iconTwitter:after{ content:"\F099"; }
i.iconFacebook:after{ content:"\F09A"; }
i.iconGithub:after{ content:"\F09B"; }
i.iconUnlock:after{ content:"\F09C"; }
i.iconCreditCard:after{ content:"\F09D"; }
i.iconRss:after{ content:"\F09E"; }
i.iconHdd:after{ content:"\F0A0"; }
i.iconBullhorn:after{ content:"\F0A1"; }
i.iconBell:after{ content:"\F0A2"; }
i.iconCertificate:after{ content:"\F0A3"; }
i.iconHandRight:after{ content:"\F0A4"; }
i.iconHandLeft:after{ content:"\F0A5"; }
i.iconHandUp:after{ content:"\F0A6"; }
i.iconHandDown:after{ content:"\F0A7"; }
i.iconCircleArrowLeft:after{ content:"\F0A8"; }
i.iconCircleArrowRight:after{ content:"\F0A9"; }
i.iconCircleArrowUp:after{ content:"\F0AA"; }
i.iconCircleArrowDown:after{ content:"\F0AB"; }
i.iconEarth:after{ content:"\F0AC"; }
i.iconWrench:after{ content:"\F0AD"; }
i.iconTasks:after{ content:"\F0AE"; }
i.iconFilter:after{ content:"\F0B0"; }
i.iconBriefcase:after{ content:"\F0B1"; }
i.iconFullscreen:after{ content:"\F0B2"; }
i.iconGroup:after{ content:"\F0C0"; }
i.iconLink:after{ content:"\F0C1"; }
i.iconCloud:after{ content:"\F0C2"; }
i.iconBeaker:after{ content:"\F0C3"; }
i.iconCut:after{ content:"\F0C4"; }
i.iconCopy:after{ content:"\F0C5"; }
i.iconPaperClip:after{ content:"\F0C6"; }
i.iconSave:after{ content:"\F0C7"; }
i.iconSignBlank:after{ content:"\F0C8"; }
i.iconReorder:after{ content:"\F0C9"; }
i.iconUl:after{ content:"\F0CA"; }
i.iconOl:after{ content:"\F0CB"; }
i.iconStrikethrough:after{ content:"\F0CC"; }
i.iconUnderline:after{ content:"\F0CD"; }
i.iconTable:after{ content:"\F0CE"; }
i.iconMagic:after{ content:"\F0D0"; }
i.iconTruck:after{ content:"\F0D1"; }
i.iconPinterest:after{ content:"\F0D2"; }
i.iconPinterestSign:after{ content:"\F0D3"; }
i.iconGooglePlusSign:after{ content:"\F0D4"; }
i.iconGooglePlus:after{ content:"\F0D5"; }
i.iconMoney:after{ content:"\F0D6"; }
i.iconCaretDown:after{ content:"\F0D7"; }
i.iconCaretUp:after{ content:"\F0D8"; }
i.iconCaretLeft:after{ content:"\F0D9"; }
i.iconCaretRight:after{ content:"\F0DA"; }
i.iconColumns:after{ content:"\F0DB"; }
i.iconSort:after{ content:"\F0DC"; }
i.iconSortDown:after{ content:"\F0DD"; }
i.iconSortUp:after{ content:"\F0DE"; }
i.iconEnvelopeAlt:after{ content:"\F0E0"; }
i.iconLinkedin:after{ content:"\F0E1"; }
i.iconUndo:after{ content:"\F0E2"; }
i.iconLegal:after{ content:"\F0E3"; }
i.iconDashboard:after{ content:"\F0E4"; }
i.iconCommentAlt:after{ content:"\F0E5"; }
i.iconCommentsAlt:after{ content:"\F0E6"; }
i.iconBolt:after{ content:"\F0E7"; }
i.iconSitemap:after{ content:"\F0E8"; }
i.iconUmbrella:after{ content:"\F0E9"; }
i.iconPaste:after{ content:"\F0EA"; }
i.iconLightBulb:after{ content:"\F0EB"; }
i.iconExchange:after{ content:"\F0EC"; }
i.iconCloudDownload:after{ content:"\F0ED"; }
i.iconCloudUpload:after{ content:"\F0EE"; }
i.iconUserMd:after{ content:"\F0F0"; }
i.iconStethoscope:after{ content:"\F0F1"; }
i.iconSuitcase:after{ content:"\F0F2"; }
i.iconBellAlt:after{ content:"\F0F3"; }
i.iconCoffee:after{ content:"\F0F4"; }
i.iconFood:after{ content:"\F0F5"; }
i.iconFileTextAlt:after{ content:"\F0F6"; }
i.iconBuilding:after{ content:"\F0F7"; }
i.iconHospital:after{ content:"\F0F8"; }
i.iconAmbulance:after{ content:"\F0F9"; }
i.iconMedkit:after{ content:"\F0FA"; }
i.iconFighterJet:after{ content:"\F0FB"; }
i.iconBeer:after{ content:"\F0FC"; }
i.iconHSign:after{ content:"\F0FD"; }
i.iconPlusSign:after{ content:"\F0FE"; }
i.iconDoubleAngleLeft:after{ content:"\F100"; }
i.iconDoubleAngleRight:after{ content:"\F101"; }
i.iconDoubleAngleUp:after{ content:"\F102"; }
i.iconDoubleAngleDown:after{ content:"\F103"; }
i.iconAngleLeft:after{ content:"\F104"; }
i.iconAngleRight:after{ content:"\F105"; }
i.iconAngleUp:after{ content:"\F106"; }
i.iconAngleDown:after{ content:"\F107"; }
i.iconDesktop:after{ content:"\F108"; }
i.iconLaptop:after{ content:"\F109"; }
i.iconTablet:after{ content:"\F10A"; }
i.iconMobilePhone:after{ content:"\F10B"; }
i.iconCircleBlank:after{ content:"\F10C"; }
i.iconQuoteLeft:after{ content:"\F10D"; }
i.iconQuoteRight:after{ content:"\F10E"; }
i.iconSpinner:after{ content:"\F110"; }
i.iconCircle:after{ content:"\F111"; }
i.iconReply:after{ content:"\F112"; }
i.iconGithubAlt:after{ content:"\F113"; }
i.iconFolderCloseAlt:after{ content:"\F114"; }
i.iconFolderOpenAlt:after{ content:"\F115"; }
i.iconExpandAlt:after{ content:"\F116"; }
i.iconCollapseAlt:after{ content:"\F117"; }
i.iconSmile:after{ content:"\F118"; }
i.iconFrown:after{ content:"\F119"; }
i.iconMeh:after{ content:"\F11A"; }
i.iconGamepad:after{ content:"\F11B"; }
i.iconKeyboard:after{ content:"\F11C"; }
i.iconFlagAlt:after{ content:"\F11D"; }
i.iconFlagCheckered:after{ content:"\F11E"; }
i.iconTerminal:after{ content:"\F120"; }
i.iconCode:after{ content:"\F121"; }
i.iconReplyAll:after{ content:"\F122"; }
i.iconStarHalfEmpty:after{ content:"\F123"; }
i.iconLocationArrow:after{ content:"\F124"; }
i.iconCrop:after{ content:"\F125"; }
i.iconCodeFork:after{ content:"\F126" }
i.iconUnlink:after{ content:"\F127" }
i.iconQuestion:after{ content:"\F128" }
i.iconUniF129:after{ content:"\F129" }
i.iconExclamation:after{ content:"\F12A" }
i.iconSuperscript:after{ content:"\F12B" }
i.iconSubscript:after{ content:"\F12C" }
i.iconUniF12D:after{ content:"\F12D" }
i.iconPuzzlePiece:after{ content:"\F12E" }
i.iconMicroPhone:after{ content:"\F130" }
i.iconMicroPhoneOff:after{ content:"\F131" }
i.iconShield:after{ content:"\F132" }
i.iconCalendarEmpty:after{ content:"\F133" }
i.iconFireExtinguisher:after{ content:"\F134" }
i.iconRocket:after{ content:"\F135" }
i.iconMaxcdn:after{ content:"\F136" }
i.iconChevronSignLeft:after{ content:"\F137" }
i.iconChevronSignRight:after{ content:"\F138" }
i.iconChevronSignUp:after{ content:"\F139" }
i.iconChevronSignDown:after{ content:"\F13A" }
i.iconHtml5:after{ content:"\F13B" }
i.iconCss3:after{ content:"\F13C" }
i.iconAnchor:after{ content:"\F13D" }
i.iconUnlockAlt:after{ content:"\F13E" }
i.iconBullseye:after{ content:"\F140" }
i.iconEllipsisHorizontal:after{ content:"\F141" }
i.iconEllipsisVertical:after{ content:"\F142" }
i.iconUniF143:after{ content:"\F143" }
i.iconPlaySign:after{ content:"\F144" }
i.iconTicket:after{ content:"\F145" }
i.iconMinusSignAlt:after{ content:"\F146" }
i.iconCheckMinus:after{ content:"\F147" }
i.iconLevelUp:after{ content:"\F148" }
i.iconLevelDown:after{ content:"\F149" }
i.iconCheckSign:after{ content:"\F14A" }
i.iconEditSign:after{ content:"\F14B" }
i.iconUniF14C:after{ content:"\F14C" }
i.iconShareSign:after{ content:"\F14D" }
i.iconCompass:after{ content:"\F14E" }
i.iconCollapseDown:after{ content:"\F150" }
i.iconCollapseTop:after{ content:"\F151" }
i.iconCollapseRight:after{ content:"\F152" }
i.iconEur:after{ content:"\F153" }
i.iconGbp:after{ content:"\F154" }
i.iconUsd:after{ content:"\F155" }
i.iconInr:after{ content:"\F156" }
i.iconJpy:after{ content:"\F157" }
i.iconCny:after{ content:"\F158" }
i.iconKrw:after{ content:"\F159" }
i.iconBtc:after{ content:"\F15A" }
i.iconFile:after{ content:"\F15B" }
i.iconFileText:after{ content:"\F15C" }
i.iconSortByA-Z:after{ content:"\F15D" }
i.iconSortByZ-A:after{ content:"\F15E" }
i.iconSortByToBig:after{ content:"\F160" }
i.iconSortByToSmall:after{ content:"\F161" }
i.iconSortBy1-9:after{ content:"\F162" }
i.iconSortBy9-1:after{ content:"\F163" }
i.iconYouUp:after{ content:"\F164" }
i.iconYouDown:after{ content:"\F165" }
i.iconYoutubeSign:after{ content:"\F166" }
i.iconYoutube:after{ content:"\F167" }
i.iconXing:after{ content:"\F168" }
i.iconXingSign:after{ content:"\F169" }
i.iconYoutubePlay:after{ content:"\F16A" }
i.iconDropbox:after{ content:"\F16B" }
i.iconStackexchange:after{ content:"\F16C" }
i.iconInstagram:after{ content:"\F16D" }
i.iconFlickr:after{ content:"\F16E" }
i.iconAdn:after{ content:"\F170" }
i.iconBitbucket:after{ content:"\F171" }
i.iconBitbucketSign:after{ content:"\F172" }
i.iconTumblr:after{ content:"\F173" }
i.iconTumblrSign:after{ content:"\F174" }
i.iconLongArrowDown:after{ content:"\F175" }
i.iconLongArrowUp:after{ content:"\F176" }
i.iconLongArrowLeft:after{ content:"\F177" }
i.iconLongArrowRight:after{ content:"\F178" }
i.iconApple:after{ content:"\F179" }
i.iconWindows:after{ content:"\F17A" }
i.iconAndroid:after{ content:"\F17B" }
i.iconLinux:after{ content:"\F17C" }
i.iconDribble:after{ content:"\F17D" }
i.iconSkype:after{ content:"\F17E" }
i.iconFoursquare:after{ content:"\F180" }
i.iconTrello:after{ content:"\F181" }
i.iconFemale:after{ content:"\F182" }
i.iconMale:after{ content:"\F183" }
i.iconGittip:after{ content:"\F184" }
i.iconSun:after{ content:"\F185" }
i.iconMoon:after{ content:"\F186" }
i.iconArchive:after{ content:"\F187" }
i.iconBug:after{ content:"\F188" }
i.iconVk:after{ content:"\F189" }
i.iconWeibo:after{ content:"\F18A" }
i.iconRenren:after{ content:"\F18B" }
/*私有图标*/
i.iconFlagLeft:after{ content:"\E000" }
i.iconFlagRight:after{ content:"\E001" }
i.iconFlagUp:after{ content:"\E002" }
i.iconFlagDown:after{ content:"\E003" }
i.iconDomain:after{ content:"\E004" }
i.iconRadioEmpty:after{ content:"\E005" }
i.iconRadio:after{ content:"\E006" }
i.iconAngleLeftFirst:after{ content:"\E007" }
i.iconAngleRightLast:after{ content:"\E008" }
i.iconClose:after{ content:"\E009" }
/*私有图标2*/
i.iconUiElf:after{ content:"\D000" }
i.iconUiElf2:after{ content:"\D001" }