@charset "utf-8"; /*组件样式，不建议使用颜色设置*/
/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu{ display:block \9; }
@font-face{
  font-family:'roundCG';
  src:url('[dataDir]fonts/RoundCG/RoundCG.eot?v=[v]');
  src:url('[dataDir]fonts/RoundCG/RoundCG.eot?v=[v]') format('embedded-opentype'),
  url('[dataDir]fonts/RoundCG/RoundCG.woff2?v=[v]') format('woff2'),
  url('[dataDir]fonts/RoundCG/RoundCG.woff?v=[v]') format('woff'),
  url('[dataDir]fonts/RoundCG/RoundCG.ttf?v=[v]') format('truetype'),
  url('[dataDir]fonts/RoundCG/RoundCG.svg?v=[v]') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'arcon';
  src:url('[dataDir]fonts/arcon/arcon-regular-webfont.eot?v=[v]');
  src:url('[dataDir]fonts/arcon/arcon-regular-webfont.eot?v=[v]') format('embedded-opentype'),
  url('[dataDir]fonts/arcon/arcon-regular-webfont.woff2?v=[v]') format('woff2'),
  url('[dataDir]fonts/arcon/arcon-regular-webfont.woff?v=[v]') format('woff'),
  url('[dataDir]fonts/arcon/arcon-regular-webfont.ttf?v=[v]') format('truetype'),
  url('[dataDir]fonts/arcon/arcon-regular-webfont.svg?v=[v]') format('svg');
  font-weight:normal;
  font-style:normal;
}
body{ margin:0; padding:0; font-size:16px \9; font-size:1rem; overflow-y:auto; overflow-x:hidden; font-family:roundCG, "微软雅黑", Hiragino Sans GB, sans-serif; }
ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input, header, footer, section, nav, figure, figcaption{ margin:0; padding:0; font-weight:normal; font-family:roundCG, Arial, Verdana, Tahoma, "微软雅黑", Hiragino Sans GB, sans-serif; }
h1, h2, h3, h4, h5, h6{ font-weight:100; }
div{ text-align:left; }
a img{ border:0; }
table{ border-collapse:collapse; border-spacing:0; }
table .listSelected{ border-collapse:initial; border-spacing:0; }
ul, ol, li{ list-style-type:none; }
a{ outline-style:none; text-decoration:none; _text-decoration:none; border-bottom:1px solid; }
a:hover, a.hover{ text-decoration:none; }
a.radio, a.checkbox, a.switch, a.listSelected{ border-bottom:0 solid; }
code{ font-family:roundCG, sans-serif; font-size:0.75rem; display:block; }
pre{ font-size:16px; margin:0 auto; }
/*logo*/
.logo{ height:3.5rem; width:9.5rem; position:absolute; z-index:2; }
.logo i.iconUiElf{ position:absolute; font-size:3.25rem; }
.logo .logoFont{ position:absolute; left:4.25rem; }
.logo .logoFont span{ display:inline-block; position:absolute; white-space:nowrap; }
.logo .logoFont span.UI{ font-size:1.75rem; left:0; top:0.4rem; }
.logo .logoFont span.elf{ font-size:1.5rem; left:1.55rem; top:0.5rem; }
.logo .logoFont span.com{ font-size:1rem; left:0; top:2.05rem; }
.logo.noIcon{ width:4.75rem; }
.logo.noIcon .logoFont{ left:0; }
nav.menu{ position:absolute; z-index:2; white-space:nowrap; }
nav.menu ul li{ display:inline-block; }
nav.menu ul li a{ margin:0 0.5em; padding:2px 1em; border:1px solid; border-radius:1em; }
nav.menu ul li a.current{ }
nav.menu ul li a:hover{ }
nav.menu ul li.logoLi{ position:relative; width:100px; }
nav.menu ul li.logoLi i.iconUiElf{ position:absolute; font-size:48px; display:block; left:25px; top:-20px; }
nav.menu ul li.logoLi i.iconUiElf:before{ content:"\200B"; display:block; position:absolute; width:39px; height:39px; border-radius:39px; left:14px; top:9px; }
nav.menu ul li.logoLi i.iconUiElf:after{ position:absolute; }
/*.mainContent{ display:table; min-width:960px; width:100%; }
.contentLeft{ display:table-cell; vertical-align:top; }
.contentLeft:after{ display:block; content:"\200B"; width:inherit; height:0; }
.contentRight{ display:table-cell; }*/
.mainContent{ min-width:960px; width:100%; }
.contentLeft{ height:100%;
  float:left; vertical-align:top; }
.contentRight{ height:100%;
  min-width:540px;
  overflow:hidden;
}
/*页头*/
header{ }
header section nav{ line-height:3em; _padding:1em; }
header section nav p{ padding:0 1em; }
header section nav p span{ vertical-align:middle; }
header section nav p b{ margin:0 5px; }
header section nav a.headerButton{ padding:2px 10px; border:1px solid; text-decoration:none; vertical-align:middle; margin:0 10px; _display:inline-block; _line-height:1.3; *padding-bottom:0; }
/*页脚*/
footer{ width:100%; min-width:960px; }
footer section.content{ margin-top:1px; padding-top:10px; padding-bottom:10px; width:100%; display:table; }
footer nav.displayTable{ padding:0 20px; position:relative; width:960px; }
footer .displayCell{ width:19.99997%; float:left; text-align:center; }
footer .displayCell h5{ padding-bottom:5px; }
footer .displayCell a{ line-height:1.6em; font-size:0.875em; }
/*链接*/

/*文章段落*/
.h1Type{ position:absolute; right:20px; top:30px; }
.h1Type *{ vertical-align:middle; }
article{ padding-bottom:30px; }
article > section{ padding:10px 20px; border-left:1px solid; border-right:1px solid; }
article > section:first-child{ padding:20px 20px 10px 20px; }
article > section h5.head{ font-size:1rem; }
article > section h5.head:before{ font-size:1rem; content:"\F0DA"; font-family:elficons, sans-serif; display:inline-block; width:10px; }
article > section .content{ font-size:0.875rem; margin:10px; text-align:justify; line-height:1.75em; }
/*间隔线*/
.shadowBox{ box-shadow:0 0 3px #e0e0e0; border:1px solid; }
.bottomLine{ border-bottom:1px dashed; }
.bottomLine2{ border-bottom:1px solid; }
.bottomLine3{ border-bottom:1px solid; }
.bottomLine4{ border-bottom:4px solid; }
/*标题*/
h5.tit{ padding:7px 20px; text-align:left; font-weight:bold; }
h5.tit a{ font-size:14px \9; font-size:0.875rem; right:20px; float:right; font-weight:400; *margin-top:-1.8em; *margin-right:20px; }
/*醒目文字*/
.striking{ }
/*边框区域*/
.liPage, .borderSection{ border:1px solid; _text-align:left; _width:100%; }
.whiteSection{ border:1px solid; border-top:none; padding:20px; _text-align:left; }
/*17、图表*/
div.chart text{ font-family:roundCG, '微软雅黑', verdana, tahoma, sans-serif; }
div.stock text{ font-family:roundCG, '微软雅黑', verdana, tahoma, sans-serif; }
/*18、其它：白色背景区域…*/
.border{ border:1px solid; }
/*19、左侧菜单*/
.leftMenu li div.list{ height:0; overflow:hidden; }
.leftMenu li.unfold div.list{ height:auto; overflow:visible; }
.leftMenu li a{ font-size:0.875rem; display:inline-block; margin:8px 24px 5px 0; border-bottom:1px solid; }
.leftMenu li a.current{margin-right:9px;}
.leftMenu li a.current:after{ font-family:elficons; content:"\F105"; margin-left:10px; margin-top:2px; }
.leftMenu li a.hasList{margin-right:15px;}
.leftMenu li a.hasList:after{ content:"\002b"; font-family:serif; display:inline-block; width:11px; height:11px; line-height:11px; text-align:center; margin-left:5px; border:1px solid; }
.leftMenu li.unfold a.hasList:after{ content:"\002d"; }
.leftMenu div.list{ position:relative; margin-right:21px; }
.leftMenu div.list:after{ content:"\200B"; font-size:0; display:block; width:1px; height:100%; bottom:11px; position:absolute; right:0; }
.leftMenu div.list a{ display:block; text-align:right; border-bottom:0; font-size:0.875rem; margin:0.2rem 0; }
.leftMenu div.list a:after{ font-family:roundCG; content:"\2500"; margin-left:0.5em; position:relative; right:0; margin-top:0; }
/*ajaxLoader*/
.ajaxLoader{ font-size:3em; }
/*开放页-页外综合*/
.radius3{ border-radius:3px; }
.radius5{ border-radius:5px; }
.radius8{ border-radius:8px; }
embed{ outline-style:none; }